Telemetry/f1_telemetry_2019.csv
Telemetry/f1_telemetry_2020.csv
Telemetry/f1_telemetry_2021.csv
Telemetry/f1_telemetry_2022.csv
Weather/merged_weather_tyre_data_2019.csv
Weather/merged_weather_tyre_data_2020.csv
Weather/merged_weather_tyre_data_2021.csv
Weather/merged_weather_tyre_data_2022.csv*.csv
